extends layout

block content
  script(src='javascripts/jquery-3.1.1.min.js')
  script(src='javascripts/d3.min.js')
  script.
    $(document).ready(function() {
      d3.json("./myData2.json", function(error, loadedFile) {
        console.log("d ", loadedFile);
        var data = loadedFile.content;
        var barHeight = 50;
        var canvas = d3.select("body").append("svg")
          .attr("width", 500)
          .attr("height", 500);
      
        var group = canvas.append("g")
          .attr("transform", "translate(100, 200)");
          
        var r = 100;
        var p = Math.PI * 1.3;
        
        var arc = d3.arc()
          .innerRadius(r - 20)
          .outerRadius(r)
          .startAngle(0)
          .endAngle(p);
          
        group.append("path")
          .attr("d", arc)
          .attr("fill", "red");  
      })
    });
