extends layout

block content
  script(src='javascripts/jquery-3.1.1.min.js')
  script(src='javascripts/d3.min.js')
  script.
    $(document).ready(function() {
      d3.json("./myData2.json", function(error, loadedFile) {
        console.log("d ", loadedFile);
        var data = loadedFile.content;

        var canvas = d3.select("body")
        .append("svg")
        .attr("width", 500)
        .attr("height", 500);
        var circle = canvas.append("circle")
          .attr("cx", 250)
          .attr("cy", 250)
          .attr("r", 50)
          .attr("fill", "red");

        var rect = canvas.append("rect")
          .attr("width", 100)
          .attr("height", 50)
          .attr("fill", "blue");

        var line = canvas.append("line")
          .attr("x1", 0).attr("y1", 100)
          .attr("x2", 400).attr("y2", 500)
          .attr("stroke", "green")
          .attr("stroke-width", 10);

      })
    });
